function Vint.len 0
push argument 0
pop pointer 0
push this 1
return
function Vint.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Array.new 1
pop this 0
goto IF_END0
label IF_FALSE0
push constant 2
push argument 0
call Vint.potencija 2
pop this 1
push this 1
call Array.new 1
pop this 0
label IF_END0
push pointer 0
return
function Vint.set 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Vint.get 0
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
return
function Vint.resize 5
push argument 0
pop pointer 0
push constant 2
push argument 1
call Vint.potencija 2
pop local 0
push this 1
push local 0
call Vint.manji 2
pop local 1
push local 1
call Array.new 1
pop local 4
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push local 1
lt
not
if-goto WHILE_END0
push local 2
push local 4
add
push local 2
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push local 4
pop this 0
push local 0
pop this 1
push constant 0
return
function Vint.is_eq 1
push argument 0
call Vint.len 1
push argument 1
call Vint.len 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 0
call Vint.len 1
lt
not
if-goto WHILE_END0
push local 0
call A.get 1
push argument 0
push local 0
call Vint.get 2
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
goto IF_END1
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
label IF_END1
goto WHILE_EXP0
label WHILE_END0
label IF_END0
push constant 0
not
return
function Vint.getArray 0
push argument 0
pop pointer 0
push this 0
return
function Vint.elems 3
push argument 0
call Vint.len 1
push argument 1
call Vint.len 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push argument 0
call Vint.getArray 1
pop local 1
push argument 1
call Vint.getArray 1
pop local 2
push local 1
push constant 0
push argument 0
call Vint.len 1
call QS.sort 3
pop temp 0
push local 2
push constant 0
push argument 0
call Vint.len 1
call QS.sort 3
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 0
call Vint.len 1
lt
not
if-goto WHILE_END0
push local 0
push local 1
add
pop pointer 1
push that 0
push local 0
push local 2
add
pop pointer 1
push that 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_END0
push constant 0
not
return
function Vint.potencija 2
push constant 0
pop local 0
push constant 1
pop local 1
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 1
push argument 0
call Math.multiply 2
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
return
function Vint.manji 0
push argument 0
push argument 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
return
goto IF_END0
label IF_FALSE0
push argument 0
return
label IF_END0
